*{
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.col {
    flex: 1;
    width: 100px;
    background-color: teal;
    color: white;
    border: 2px black solid;
    padding: 20px;
    margin: 20px;
}

.col-2 {
    flex: 2;
    width: 100px;
    background-color: teal;
    color: white;
    border: 2px black solid;
    padding: 20px;
    margin: 20px;
}

.col-3{
    flex: 3;
    width: 100px;
    background-color: teal;
    color: white;
    border: 2px black solid;
    padding: 20px;
    margin: 20px;
}